
.example-full-width {
  width: 100%;
  min-width: 150px;
  max-width: 350px;
}

.listItem {
  margin-bottom: 70px;
}

.items {
  word-wrap: break-word;
}

.btn  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 5px;
}

.example-card {
  top: 50%;
  left: 50%;
  margin: -240px;
  max-width: 600px;
  background-color: lightblue;
}

